body {
	font-family: 'Open Sans';
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}
.demo-section {
}

.demo-section-light-blue {
	background-color: #1686c8; 
	color: #ffffff; 
}
.demo-section-blue {
	background-color: #12579b; 
	color: #ffffff; 
}
.demo-section-white {
	background-color: #ffffff; 
	color: #373737; 
}

/*Responsive styles*/

.debug {
	outline: 3px solid orange;
	outline-style: dashed;
}

.demo-section {
	width: 100%;
}

.demo-section .section-content {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.demo-section .text-content h2 {
	margin: 0px;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2em;
}

.demo-section .text-content p {
	font-size: 17px;
	line-height: 1.75em;
}

.demo-section .text-content a.learn-more {
	margin-top: 35px;
	height: 48px;
	border-radius: 24px;
	font-size: 17px;
	line-height: 46px;
	background-color: #f18a13;
	display: inline-block;
	padding: 0 20px;
	color: white;
	text-decoration: none;
}

.demo-panel {
	border-radius: 6px;
	padding: 36px 7px 7px 7px;
	position: relative; 
	background-color: #fbfbfb;
	overflow: hidden;
}

.demo-panel:before {
	background-color: #fbfbfb;
    font-family: fontawesome;
    content: '\f111\f111\f111';
	font-size: 10.5px;
    letter-spacing: 0.6em;
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 36px;
    width: 100%;
	padding: 11px 0 0 15px;
}

.demo-panel-white:before {
    color: #e6e6e6;
}
.demo-panel-grey:before {
	background-color: #e6e6e6;
    color: #ffffff;
}
.shadow20 {
	box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.45);
}

.demo-feature1 iframe {
	width: 100%;
	height: 100%;
}

.demo-feature2-code {
	background-color: #464646;
}

@media screen and (min-width: 1360px) {
	.demo-section .section-content {
		width: 1360px;
	}

	.demo-section .text-content {
		width: 390px;
		padding: 125px 35px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.demo-section .demo-content {
		width: 970px;
		padding: 125px 70px 100px 70px;
		margin-left: 390px;
	}

	.demo-feature1 {
		width: 630px;
		height: 450px;
		margin-bottom: 140px;
	}
	
	.demo-feature1-code {
		position: absolute;
		width: 500px;
		height: 380px;
		bottom: 100px;
		right: 70px;
	}
	
	.demo-feature1 .scale {
		position: relative;
		width: 128%;
		height: 128%;
		transform-origin: top left;
		transform: scale(0.78125);
	}

	.demo-feature2 {
		width: 740px;
		height: 600px;
		margin-bottom: 65px;
	}

	.demo-feature2 .scale {
		position: relative;
		width: 113%;
		height: 113%;
		transform-origin: top left;
		transform: scale(0.88500);
	}

	.demo-feature2-code {
		position: absolute;
		width: 500px;
		height: 160px;
		bottom: 100px;
		right: 70px;
	}
	
}