.z-window-content {
	padding: 0px;
	position: relative;
}
#userList.list-group {
	margin: 0px;
	overflow-y: scroll;
}

#userList > .topPadding, #userList > .bottomPadding {
	display: block;
}
	
#userList .list-group-item .user-info {
	display: inline-block;
	vertical-align: bottom;
}

#userList .list-group-item .user-name {
	font-weight: bold;
}

#userList .list-group-item .user-picture {
	border-radius: 50%;
	width:40px;
}